/* src/App.css */
body {
  background-color: #d3d3d3;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

input[type='text'],
button {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}
